<header>
    <h1>CUNYFirst Boards</h1>
    <div class="search-bar">
      <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search Boards..." />
        <button type="submit">Search</button>
      </form>
    </div>
  </header>
  