<aside class="sidebar">
    <button>Search Schools ⮟</button>
    <select>
      <option>Classes ⮟</option>
      <option>ENG 1111</option>
      <option>MAT 1111</option>
    </select>
  
    <h2>Rating Notes:</h2>
    <p>⭐⭐⭐⭐⭐</p>
  
    <h2>About Us:</h2>
    <p>Student-powered CUNY course boards for easy access and reviews.</p>
  </aside>
  