<div class="board-grid">
  <div class="board-tile">ENG 1111</div>
  <div class="board-tile">COMP 1111</div>
  <div class="board-tile">IT 1111</div>
  <div class="board-tile">MAT 1111</div>
  <div class="board-tile">PYHS 1111</div>
  <div class="board-tile">BIO 1111</div>
</div>

<button id = "create">+</button>

<div id = "create-modal" class = "modal">
  <div class = "modal-content">
    <span class = "close">&times;</span>
    <h1>Create New Board</h1>
    <h4>Board Name</h4>
    <h4>Corresponding Class Code</h4>
    <h4>Tags</h4>
    <a href="/whiteboard" class = "modal-link">Create</a>
  </div>
</div>

<div class="instructions">
  <h3>Instructions:</h3>
  <p>Use the search bar to find your personal board based on classes you're taking.</p>
  <p>Sort them using the rating notes system for better comparisons.</p>
</div>
