<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>CUNY Board</title>
  <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="container">
    <%- include('partials/sidebar') %>
    <main>
      <%- body %>
    </main>
  </div>

  <%- include('partials/footer') %>
</body>
</html> 
